
.cardTop{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191a1b;

  .cardTitle{
    padding-top: 20px;
    color: #fff;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: cardBorderAnimasyon 2s infinite alternate;
  }
}

@keyframes cardBorderAnimasyon {
from {
  transform: translateY(0);
}
to {
  transform: translateY(100%);
}
}

.actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  }

.ımgActionsBtn {
  width: 80%;
  align-items: center;
  justify-content: center;
  color: white;
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);

  &:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    filter: blur(3px);
  }
}


@keyframes animatedgradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.finishGame{
width: 80%;
}
:host{
justify-content: space-around;

.item-interactive.ion-valid{
  --highlight-background: black !important;
}
}

.shake {
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
perspective: 1000px;
}

.toasts{
text-align: center;

}


@keyframes shake {
10%, 90% {
  transform: translate3d(-1px, 0, 0);
}
20%, 80% {
  transform: translate3d(2px, 0, 0);
}
30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
}
40%, 60% {

  transform: translate3d(4px, 0, 0);
}
}

.optionsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .selectedOptionsBtn:focus {
    outline: 1px solid gray;
    border-radius: 5px;
  }
}

ion-button {
&::part(native){
  border-radius: 10px;
}
}

.optionsLine{
  height: 60px;
  width: 90%;
  border-bottom: 1px solid #fff
}

.optionsDrag{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 0;
}
