
<ion-card *ngIf="showCard" [@slideInOut]  [class.shake] = "wrongAnswer">
  <ion-card-header class="cardTop">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-title class="cardTitle">{{ selectedWord.tr}}</ion-card-title>
  </ion-card-header>
</ion-card>

    <ion-row class="optionsButtons">
      <ion-col size="6" *ngFor="let item of options"><ion-button expand="full" color="dark" class="selectedOptionsBtn" (click)="handleSelectedOption(item)">{{item.en}}</ion-button></ion-col>
    </ion-row>

<div class="actions">
  <ion-button color="dark" class="ımgActionsBtn" (click)="handlerAnswer()" [disabled]="!selectedOption">Kontrol et</ion-button>
  <ion-button id="present-alert" color="danger" class="finishGame">Oyunu bitir</ion-button>
  <ion-alert
    trigger="present-alert"
    [buttons]="alertButtons"
    header="Oyunu bitirmek istiyor musun ?"
  ></ion-alert>
</div>

  <ion-toast
      [isOpen]="showInfo"
      [message]="messageInfo"
      [duration]="700"
      (didDismiss)="setOpen(false)"
      color="success"
      class="toasts"
    ></ion-toast>

    <ion-toast
      [isOpen]="showFalse"
      [message]="messageFalse"
      [duration]="700"
      (didDismiss)="setOpen(false)"
      color="danger"
      [class.shake] = "wrongAnswer"
      class="toasts"
    ></ion-toast>
