<ion-app>
  <ion-content>
      <ion-grid>
          <ion-row>
              <ion-col>
                <ion-card [routerLink]="['/games/a1/guess']">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                  <ion-card-header>
                    <ion-card-title>Resim Bilme Oyunu</ion-card-title>
                    <ion-card-subtitle>Daily English</ion-card-subtitle>
                  </ion-card-header>

                  <ion-card-content>
                    Bir resim verilir ve resmin karşılığının ingilizce olarak yazılması istenir.
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card [routerLink]="['/games/a1/wordMatch']">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                  <ion-card-header>
                    <ion-card-title>Kelime Eşleştirme Oyunu</ion-card-title>
                    <ion-card-subtitle>Daily English</ion-card-subtitle>
                  </ion-card-header>

                  <ion-card-content>
                    Yukarıda kısımda çıkan kelimenin doğru olanı alttaki kelimelerden seçilir ve kontrol ettirilir.
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card [routerLink]="['/games/a1/hearMatch']">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                  <ion-card-header>
                    <ion-card-title>Duyduğunu Eşleştirme</ion-card-title>
                    <ion-card-subtitle>Daily English</ion-card-subtitle>
                  </ion-card-header>

                  <ion-card-content>
                    Bir metin seslendirilir. Altında da seslendirilen metinin kelimeleri bulunur. Bu kelimelerin doğru sırayla sıralanması istenir.
                  </ion-card-content>
                </ion-card>
              </ion-col>

          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card [routerLink]="['/games/a1/sentenceTrans']">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>Cümle Çevirme Oyunu</ion-card-title>
                  <ion-card-subtitle>Daily English</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  Bir cümle verilir. Bu cümlenin karşılığı ise sırasına uygun şekilde aşağıdaki kelimelerden seçilerek oluşturulur.
                </ion-card-content>
              </ion-card>

            </ion-col>
            <ion-col>
              <ion-card [routerLink]="['/games/a1/gapFill']">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>Boşluk Doldurma Oyunu</ion-card-title>
                  <ion-card-subtitle>Daily English</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  Bir cümle verilir ve bir kısmı boş bırakılır. Altta verilen kelimeler bu boş olan kısmı uygun olduğu taktirde seçilir ve kontrol ettirilir.
                </ion-card-content>
              </ion-card>
            </ion-col>


        </ion-row>
      </ion-grid>
  </ion-content>
</ion-app>


<ion-grid>





