body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.menuInButton {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: calc(var(--borderWidth) * 4);
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
  margin-top: 15px;

 &:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    filter: blur(3px);
    border-radius: 10px;
  }
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.menuInHeader{
  display: flex;
  flex-direction: row-reverse;
}

.gamesAccordion{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
}


.bgAccordion{
  padding-top: 10px;
  background-color: #1D1F20;
  border-radius: 5px;
}

.ion-padding{
  display: grid;
  grid-template-columns: 130px 130px;
  gap: 20px;
}
